@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(40deg, #94d6dd, #235163);
    background-attachment: fixed;
}



main {
    background-color: #e6eaec;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #16576dab;

    padding: 10px;
    margin: 20px;


}

h1 {
    color: #a0670c;
    text-align: center;
    text-shadow: 2px 2px 2px #16576d1e;



}

h2 {
    color: #1D5BA4;

}

p {
    text-align: justify;
}